@font-face {
    font-family: "Antique-Legacy-Regular";
    src:
        url("assets/Fonts/Antique-Legacy/Antique-Legacy-Regular.woff2") format("woff2"),
        url("assets/Fonts/Antique-Legacy/Antique-Legacy-Regular.woff") format("woff"),
        url("assets/Fonts/Antique-Legacy/Antique-Legacy-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Antique-Legacy-Regular";
    src:
        url("assets/Fonts/Antique-Legacy/Antique-Legacy-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Antique-Legacy-Medium";
    src:
        url("assets/Fonts/Antique-Legacy/Antique-Legacy-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Antique-Legacy-Light";
    src:
        url("assets/Fonts/Antique-Legacy/Antique-Legacy-Light-Italic.woff2") format("woff2"),
        url("assets/Fonts/Antique-Legacy/Antique-Legacy-Light-Italic.woff") format("woff"),
        url("assets/Fonts/Antique-Legacy/Antique-Legacy-Light-Italic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Antique-Legacy-Light";
    src:
        url("assets/Fonts/Antique-Legacy/Antique-Legacy-Light.woff2") format("woff2"),
        url("assets/Fonts/Antique-Legacy/Antique-Legacy-Light.woff") format("woff"),
        url("assets/Fonts/Antique-Legacy/Antique-Legacy-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Parabole Display";
    src:
        url("assets/Fonts/Parabole Display/parabole-displayregular.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}
html{
    scroll-behavior: smooth;
}
body{
    /* Colors */
    --black: #000;
    --white: #fff;
    --blue: #0064FF;
    --yellow: #FFC852;
    --orange: #FF7A41;
    --purple: #A560FF;
    --green: #00C46D;
    --pink: #F3A0D6;
    --color_background: var(--white);
    --color_foreground: var(--black);
    --color_accent: var(--orange);
    background-color: var(--color_background);
    color: var(--color_foreground);
    font-family: var(--font_light); /*fallback */
    /* Fonts */
    --font_reg: "Antique-Legacy-Regular";
    --font_light: "Antique-Legacy-Light";
    --font_magic: "Parabole Display";

    /* Font Sizes*/
    --fonts_xs: 0.55555555555rem;
    --fonts_small: 0.8888rem; /* 16px */
    --fonts_reg: 1rem; /* 18px */
    --fonts_medium: 1.1111rem; /* 20px */
    --fonts_subheadings: 1.333333rem; /* 24px */
    --fonts_large: 1.44444rem; /* 26px */
    --fonts_headings: 1.77777777778rem; /* 32px */
    --fonts_headings_large: 3.55555555556rem; /* 64px */
    @media (max-width: 370px){ /* very small to small phones */
        --fonts_small: 0.8rem; /* 16px */
        --fonts_reg: 0.8rem; /* 18px */
    }
    @media (min-width: 600px){
        --fonts_xs: 0.66666666666rem;
        --fonts_headings: 2.44444444444rem; /* 44px */
        --fonts_headings_large: 5.05555555556rem; /* 91px */
    }
    @media (min-width: 1050px){
        --fonts_reg: 1.1111111rem; /* 18px */
        --fonts_headings: 3.55555555556rem; /* 64px */
        --fonts_headings_large: 6.66666666667rem; /* 120px */
    }

    /* Line Heights */
    --line_xs: 0.55555555555rem;
    --line_small: 1.38888888889rem;
    --line_reg: 1.55555555556rem;
    --line_medium: 1.11111111111rem;
    --line_subheadings: 1.83333333333rem;
    --line_large: 2rem;
    --line_headings: 2.27777777778rem;
    --line_headings_large: 3.11111111111rem;
    @media (min-width: 600px){
        --line_xs: 0.66666666666rem;
        --line_headings: 2.77777777778rem;
        --line_headings_large: 4.5rem;
    }
    @media (min-width: 1050px){
        --line_headings: 4rem;
        --line_headings_large: 6rem;
    }
    .show_dark {
        display: none;
    }
    .show_light {
        display: block;
    }
    .intro_images .logo_bandb {
        path.bg {
            fill: var(--color_foreground);
        }
        path.letter {
            fill: var(--color_background);
        }
    }
    &:has(select > option.dark:checked) {
        --color_background: var(--black);
        --color_foreground: var(--white);
        --color_accent: var(--yellow);
        .show_light{
            display: none;
        }
        .show_dark{
            display: block;
        }
        .intro_images .logo_bandb{
            path.letter{
                fill: var(--color_background);
            }
            path.bg{
                fill: var(--color_foreground);
            }
        }
    }
    &:has(select > option.light:checked) {
        --color_background: var(--white);
        --color_foreground: var(--black);
        --color_accent: var(--orange);
        .show_dark{
            display: none;
        }
        .show_light{
            display: block;
        }
        .intro_images .logo_bandb{
            path.bg{
                fill: var(--color_foreground);
            }
            path.letter{
                fill: var(--color_background);
            }
        }
    }
    @media (prefers-color-scheme: dark) {
        --color_background: var(--black) !important;
        --color_foreground: var(--white) !important;
        --color_accent: var(--yellow) !important;
        .show_light{
            display: none !important;
        }
        .show_dark{
            display: block !important;
        }
        .intro_images .logo_bandb{
            path.letter{
                fill: var(--color_background);
            }
            path.bg{
                fill: var(--color_foreground);
            }
        }
    }
}
.hidden {
    display: none !important;
}

.mobile_hidden {
    @media (max-width: 819px) {
        display: none !important;
    }
}

.tablet_hidden {
    @media (max-width: 1439px) {
        display: none !important;
    }
}

.desktop_hidden {
    @media (min-width: 1440px) {
        display: none !important;
    }
}
/* Predetermined values */

p.text_body{
    font-size: var(--fonts_reg);
    line-height: var(--line_reg);
    font-family: var(--font_light);
}
.h1, .h2{
    font-family: var(--font_reg);
    text-transform: uppercase;
    font-size: var(--fonts_headings_large);
    line-height: var(--line_headings_large);
    color: var(--color_foreground);
}
.h3, .h4, .h5{
    font-family: var(--font_reg);
    font-size: var(--fonts_headings);
    line-height: var(--line_headings);
    color: var(--color_foreground);
}
a.text_link{
    appearance: none;
    background-color: var(--color_background);
    border: none;
    color: var(--color_accent);
    font-family: var(--font_light);
    text-decoration: none;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(1);
        height: 2px;
        bottom: 2px;
        left: 0;
        background-color: var(--color_accent);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
        }
        &:hover,
        &:focus {
            color: var(--blue);
            &:after {
                transform: scaleX(0);
                transform-origin: bottom left;
            }
        }
}
a.footer_link{
    font-size: var(--fonts_reg);
    line-height: var(--line_reg);
    color: var(--color_foreground);
    text-decoration: none;
    font-family: var(--font_light);
    position: relative;
    &:after {
        
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(1);
        height: 2px;
        bottom: -2px;
        left: 0;
        background-color: var(--color_foreground);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
        }
        
        &:hover,
        &:focus {
        color: var(--color_accent);
        &:after {
            transform: scaleX(0);
            transform-origin: bottom left;
        }
    }
}

.text_accent{
    color: var(--color_accent);
    font-size: inherit;
}
.text_magic{
    font-family: var(--font_magic) !important;
    color: var(--color_accent) !important;
}
em.text_magic{
    font-style: normal;
}
.h1 > .text_magic{
    font-size: inherit;
}
.text_small{
    font-size: var(--fonts_small);
    line-height: var(--line_small);
    font-family: var(--font_light);
    font-weight: 300 !important;
}
.text_medium{
    font-size: var(--fonts_medium);
    line-height: var(--line_medium);
    font-family: var(--font_light);
    font-weight: 300 !important;
}
.text_large{
    font-size: var(--fonts_large);
    line-height: var(--line_large);
    font-family: var(--font_light);
}
.text_subheading{
    font-weight: 400;
    color: var(--color_accent);
    font-size: var(--fonts_subheadings);
    line-height: var(--line_subheadings);
}
section.body_text{
    display: grid;
    max-width: 908px;
    gap: 25px;
    margin: 0 auto;
}
p + .text_subheading{
    margin-top: 11px;
}
p a{
    font-size: inherit;
}
/* FORMS */
form {
    gap: 32px;
    display: flex;
    flex-direction: column;
    align-items: start;
    label {
        display: flex;
        flex-direction: column;
        font-size: var(--fonts_reg);
        font-family: var(--font_light);
        line-height: var(--line_reg);
        color: var(--color_foreground);
        gap: 8px;
        input:not([type="submit"]):not([type="button"]) {
            border-radius: 0;
            padding: 16.5px 24px;
            width: 100%;
            max-width: 550px;
            background: var(--color_background);
            color: var(--color_foreground);
            border: 1px solid var(--color_foreground);
            &::placeholder {
                color: var(--color_foreground);
            }
            &:focus{
                outline: none;
                border-color: var(--color_accent);
            }
            @media (min-width: 640px){
                min-width: 0;
            }
        }
    }
    input[type="submit"],
    input[type="button"] {
        cursor: pointer;
        appearance: none;
        background-color: var(--color_background);
        border: none;
        font-size: var(--fonts_medium);
        line-height: var(--line_medium);
        color: var(--color_accent);
        padding-left: 0;
        padding-right: 0;
        margin-left: 15px;
        padding-bottom: 4px;
        border-bottom: 1px solid var(--color_accent);
        background-size: 101% 201%;
        transition: 0.3s ease;
        background-position: top;
        background-image: linear-gradient(var(--color_background) 50%, var(--color_accent) 50%);
        &:focus,
        &:hover {
            background-position: bottom;
            color: var(--black);
            padding-left: 15px;
            padding-right: 15px;
            margin-left: 0;
        }
        @media (min-width: 640px){
            margin-bottom: 17px;
        }
    }
    @media (min-width: 640px){
        flex-direction: row;
        align-items: end;
    }
}
/* BUTTONS */
button.btn_main{
    text-transform: uppercase;
    font-family: var(--font_reg);
    border: none;
    padding: 7px 10px;
    font-size: var(--fonts_xs);
    line-height: var(--line_xs);
    border-radius: 30px;
    letter-spacing: 4%;
    background-size: 101% 200%;
    transition: 0.3s ease;
    color: var(--black);
    background-position: top;
    cursor: pointer;
    background-image: linear-gradient(var(--color_background) 50%, var(--color_accent) 50%);
    &:focus,
    &:hover {
        background-position: bottom;
        color: var(--black);
    }
    &.active{
        background-position: bottom;
        color: var(--black);  
    }
}